header{
  margin-bottom:1em;
}

#body_main{
  width: 100%;
}

/*############################left menue################*/
#left_menue{
  float:left;
  width:15%;
}

#left_menue:after{
  content: '';
  display: block;
  clear: both;
}

#tool_table table{
  width:100%;
}



#tool_table img{
width:95%;
padding:2px;
}


/*##########################right menue#################*/

#right_menue{
  float:right;
}


#right_menue:after{
  content: '';
  display: block;
  clear: both;
}
#draw_pane{
  text-align:center;
  width:50%;
  height: 50%;
  margin:auto;
}

#footer{
  clear: both;
  display:block;
  text-align: center;
}

#footer p{
  display:inline;
}

.clicked{
  border:5px solid red;
}

.notClicked{
  border:2px solid black;
}
