header {
  margin-bottom: 1em;
}
#body_main {
  width: 100%;
  margin: 0;
}

.visible{
  visibility: visible;
}
.hidden{
  visibility: hidden;
}

/*############################left menue################*/

#left_menue {
  float: left;
  width: 15%;
  margin: 1em;
}
#tool_table table {
  width: 100%;
}
#tool_table img {
  width: 95%;
  padding: 2px;
}
.clicked {
  border: 5px solid red;
}
.notClicked {
  border: 2px solid black;
}
#group-input-form {
  margin-bottom: 1em;
}
#left_menue:after {
  content: '';
  display: block;
  clear: both;
}

/*##########################right menue#################*/

#right_menue {
  float: right;
  margin: 1em;
  width: 15%;
}
#right_menue:after {
  content: '';
  display: block;
  clear: both;
}
#undo_button {
  margin-bottom: 2em;
}

/*#########################paint_section###################*/

#paint_section {
  text-align: center;
}

/*#############################draw pane##################*/

#sketch {
  overflow: auto;
  border: 2px solid blue;
  position: relative;
  text-align: center;
  margin: auto;
  width: 400px;
  height: 400px;
}
#paint {
  position: absolute;
  left: 0px;
  right: 0;
  bottom: 0;
  top: 0;
  cursor: crosshair;
}
#tmp_canvas {
  position: absolute;
  left: 0px;
  right: 0;
  bottom: 0;
  top: 0;
  cursor: crosshair;
}

/*##############################footer#####################*/

#footer {
  clear: both;
  display: block;
  text-align: center;
}
#footer p {
  display: inline;
}
